backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
decorator==4.3.0
enum34==1.1.6
futures==3.2.0
idna==2.6
ipython-genutils==0.2.0
lxml==4.9.1
pathlib2==2.3.2
pexpect==4.5.0
pickleshare==0.7.4
pkg-resources==0.0.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.7.4
requests==2.20.0
requests-futures==0.9.7
scandir==1.7
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3==1.26.5
wcwidth==0.1.7
